### One Hot Encoding

Next I want to try and implement One Hot Encoding to see if it will help with the performance of the model

In [2]:
#Import libraries 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
#Load in the data 

data = pd.read_csv('train.csv')

To start I want to turn HomePlanet into 3 columns for each unique planet.

In [13]:
data_encoded = pd.get_dummies(data, columns=['HomePlanet'])

data_encoded[['HomePlanet_Earth', 'HomePlanet_Europa','HomePlanet_Mars']]

      HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars
0                    0                  1                0
1                    1                  0                0
2                    0                  1                0
3                    0                  1                0
4                    1                  0                0
...                ...                ...              ...
8688                 0                  1                0
8689                 1                  0                0
8690                 1                  0                0
8691                 0                  1                0
8692                 0                  1                0

[8693 rows x 3 columns]

Now we can see that HomePlanet is split up into 3 columns. 

Next I will do the same with the rest of the columns that need to be converted from a string.

In [16]:
#First Cabin needs to be split up again. 
data_encoded[['Deck', 'Num', 'Side']] = data['Cabin'].str.split('/', expand=True)
data_encoded['Num'] = data_encoded['Num'].astype('float64')
data_encoded['CryoSleep'] = data_encoded['CryoSleep'].astype('bool')
data_encoded['VIP'] = data_encoded['VIP'].astype('bool')

data_encoded = pd.get_dummies(data_encoded, columns=['Destination', 'Deck', 'Side'])

In [39]:
data_encoded = data_encoded.dropna()

#split data into X and y
X = data_encoded.drop(['Transported','Cabin', 'Name', 'PassengerId'], axis=1) #Features 
y = data_encoded['Transported'] #target value

#load test data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)


#Create DT model

clf = DecisionTreeClassifier()

clf = clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

#Evaluate the model

print("Accuracy:" ,metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7567418822234453